body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.profile-picture-div {
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.profile-picture-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-picture-div-navbar {
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.profile-picture-div-navbar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-pfp {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.post-pfp img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.landing-section {
  background-color: #000;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vertical-hr {
  border-left: 1px solid #fff;
  height: 200px;
  width: 1px;
  /* margin: 0 20px; */
}

.about-developer-section {
  height: 100vh;
  background-color: #f4eee0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hive-card {
  background-color: #f4eee0;
}

.room-container {
  margin: 10px;
  padding: 10px;
}

.room-inner-container {
  padding: 10px;
}

.landing-text {
  font-size: 80px;
  position: relative;
}

.landing-text span {
  display: inline-block;
  transition: transform 0.5s;
}

#icons-holder {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.about-section,
.cta-section {
  height: 100vh;
  padding: 50px 0;
  text-align: center;
}

.navbar {
  align-items: center;
}

#about-dev-text {
  font-size: 20px;
}

#study-text {
  color: #000;
}

.notifications {
  /* make the width fixed irrelevant of whether its in a navbar or not */
  width: 300px;
}

.nav-username {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  align-items: center;
  font-size: 15px;
  margin: auto;
  padding: 0 5px;
}

#post-text {
  color: #000;
}

.username-link {
  color: #000;
}

/* disable the username-link turning blue on hover */
.username-link:hover {
  color: #000;
  text-decoration-line: none;
}

.loading-spinner {
}

.scrollable {
  max-height: 200px; /* Adjust the maximum height as needed */
  overflow-y: auto;
}

.post-image-container {
  width: 200px;
  height: 200px;
}

.check:hover::after {
  content: "Verified";
  position: absolute;
  font-size: 12px;
  margin-left: 10px;
  z-index: 1;
}

.post-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#post-card {
  background-color: #dde6ed;
  color: #000;
  margin: 10px;
  padding: 10px;
  border-radius: 5%;
  display: flex;
}

.gradient-text {
  font-size: 72px;
  background: -webkit-linear-gradient(rgb(83, 92, 145), rgb(146, 144, 195));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#post-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.centered-btn {
  justify-content: center;
}

.dev-pfp-image {
  border-radius: 100%;
  margin: 5px;
  width: 200px;
  height: 200px;
}

#icons-holder {
  padding: auto;
}

.cta-button {
  margin: 10px;
}

.card-subtitle {
  color: #000;
}

.nav-item-end {
  margin-left: auto;
  justify-content: end;
}

.discussion-container {
  margin: auto;
  padding: 20px;
}
