body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.landing-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-text {
  font-size: 80px;
  position: relative;
}

.landing-text span {
  display: inline-block;
  transition: transform 0.5s;
}

#icons-holder {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.about-section,
.about-developer-section,
.cta-section {
  height: 100vh;
  padding: 50px 0;
  text-align: center;
}

.navbar {
  align-items: center;
}

#about-dev-text {
  font-size: 20px;
  padding: 10px;
}

#study-text {
  color: #000;
}

.nav-username {
  color: #000;
  font-size: 15px;
  margin: auto;
  padding: 20px;
}

#post-text {
  color: #000;
}

.username-link {
  color: #000;
}

/* disable the username-link turning blue on hover */
.username-link:hover {
  color: #000;
  text-decoration-line: none;
}

.scrollable {
  max-height: 200px; /* Adjust the maximum height as needed */
  overflow-y: auto;
}

#post-card {
  background-color: #fff;
  color: #000;
  margin: 10px;
  padding: 10px;
  border-radius: 10%;
  display: flex;
}

#post-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.centered-btn {
  justify-content: center;
}

#dev-pfp {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

#icons-holder {
  padding: auto;
}

.cta-button {
  margin: 10px;
}

.card-subtitle {
  color: #000;
}

.nav-item-end {
  margin-left: auto;
  justify-content: end;
}

.discussion-container {
  margin: auto;
  padding: 20px;
}
