<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Material</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    {% if current_user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">HiveMind</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <img src="{{ profile_picture_url }}" alt="Profile Picture"
                            class="nav-profile-picture rounded-circle" style="width: 40px; height: 40px;">
                    </li>
                    <li class="nav-item">
                        <a class="nav-username username-link" href="/view_profile/{{ session.id }}">{{ session.name }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('materials') }}">Study Materials</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('view_profile', username=session.id) }}">View
                                Profile</a>
                            <a class="dropdown-item" href="{{ url_for('update_profile') }}">Account Settings</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hives
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('hives') }}">View Hives</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5" id="posts-container">
        <h2 class="mb-4">Upload Material</h2>
        <form id="uploadForm">
            <div class="form-group mb-4">
                <label for="material_title">Material Title</label>
                <input type="text" class="form-control" id="material_title" name="material_title" required>
            </div>

            <div class="form-group mb-4">
                <label for="material_file">Upload a document</label>
                <input type="file" class="form-control-file" id="material_file" name="material_file" accept=".pdf"
                    required>
            </div>

            <!-- dropdown menu to select year -->
            <div class="form-group mb-4">
                <label for="year">Year</label>
                <select class="form-control" id="year" name="year">
                    <option value="1">1st Year</option>
                    <option value="2">2nd Year</option>
                    <option value="3">3rd Year</option>
                    <option value="4">4th Year</option>
                </select>
            </div>

            <button type="button" class="btn btn-primary" onclick="uploadMaterial()">Upload Material</button>
        </form>
        <div class="alert alert-success mt-4" role="alert" id="alert" style="display: none;"></div>
    </div>

    {% else %}
    <div class="container">
        <p>You need to be logged in to view this page. Click <a href="{{ url_for('login') }}">here</a> to login.</p>
    </div>
    {% endif %}

    <script>
        async function uploadMaterial() {
            const materialTitle = document.getElementById('material_title').value;
            const materialFile = document.getElementById('material_file').files[0];
            const year = document.getElementById('year').value;

            const formData = new FormData();
            formData.append('material_title', materialTitle);
            formData.append('material_file', materialFile);
            formData.append('year', year);

            const response = await fetch('/upload_material', {
                method: 'POST',
                body: formData
            });

            const data = await response.json();

            document.getElementById('alert').style.display = 'block';
            document.getElementById('alert').innerHTML = "Uploading, Please wait.";

            if (data.success) {
                document.getElementById('alert').style.display = 'block';
                document.getElementById('alert').innerHTML = 'Material uploaded successfully.';
            } else {
                document.getElementById('alert').style.display = 'block';
                document.getElementById('alert').innerHTML = 'Failed to upload material.';
            }
        }
    </script>

</body>

</html>