<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dev Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5849743ccd.js" crossorigin="anonymous"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/momentum.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/lineWobble.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="/static/imgs/favicon.ico" type="image/x-icon">
</head>

<body>
    {% if session.name == 'Esvin Joshua' %}
    <div class="container">
        <h1 style="padding: 5px;">Dev Page</h1>
        <hr />
        <div class="container">
            <h2>Hi ESVIN!</h2>
            <h5 id="current-time">The time is: </h5>
            <h5>The time of your entry is: {{ currenttime }}, {{ timezone }}</h5>
            <hr />
            <h5>You are in: {{ current_dir }}</h5>
            <hr />
            <h5>The files in this directory are:</h5>
            <ol>
                {% for file in files %}
                <li>{{ file }}</li>
                {% endfor %}
            </ol>
            <hr>
            <div class="container">
                <h2>Files on Server</h2>
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Folder</th>
                            <th scope="col">Files</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for folder in folders %}
                        <tr>
                            <td>{{ folder.folder }}</td>
                            <td>
                                <ul>
                                    {% for file in folder.contents %}
                                    <li>{{ file }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}
                </table>
            </div>
        </div>

        <hr />

        <div class="container">
            <h2>Operating System information</h2>
            <h5>OS: {{ os_info }}</h5>
            <h5>OS Version: {{ version }}</h5>
            <h5>OS Release: {{ release }}</h5>
        </div>

        <hr>

        <div class="container">
            <h2>Users</h2>
            <table class="table table-dark table-striped" id="user-table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Username</th>
                        <th scope="col">Roll Number</th>
                        <th scope="col">Verified</th>
                        <th scope="col">Actions
                            <l-line-wobble size="80" stroke="5" bg-opacity="0.1" speed="1.75" color="white"
                                id="user-action-loader" style="display: none;"></l-line-wobble>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in user_info %}
                    <tr>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ user['full_name'] }}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#editUserModal">Edit</a>
                                    <p class="dropdown-item">College name: {{ user['college_name'] }}</p>
                                    <p class="dropdown-item">No. of posts: {{ user['post_count'] }}</p>
                                </div>
                            </div>
                        </td>
                        <td>{{ user['username'] }}</td>
                        <td>{{ user['roll_number'] }}</td>
                        <td>{{ user['verified'] }}</td>
                        <td>
                            <div class="container row">
                                <div class="verification-container col-4">
                                    {% if not user['verified'] %}
                                    <button class="btn btn-primary"
                                        onclick="userAction('verify', '{{ user.username }}')">Verify</button>
                                    {% else %}
                                    <button class="btn btn-secondary"
                                        onclick="userAction('unverify', '{{ user.username }}')">Unverify</button>
                                    {% endif %}
                                </div>
                                <div class="blacklist-container col-4">
                                    {% if not user['blacklist'] %}
                                    <button class="btn btn-warning"
                                        onclick="userAction('blacklist', '{{ user.username }}')">Blacklist</button>
                                    {% else %}
                                    <button class="btn btn-primary"
                                        onclick="userAction('unblacklist', '{{ user.username }}')">Unblacklist</button>
                                    {% endif %}
                                </div>
                                <div class="delete-container col-4">
                                    <button class="btn btn-danger"
                                        onclick="userAction('delete', '{{ user.username }}')">Delete</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <hr>

        <div class="container">
            <h2>S3 Info</h2>
            <h5>Bucket: {{ bucket_name }}</h5>
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="col">Folder</th>
                        <th scope="col">Key</th>
                        <th scope="col">Size</th>
                        <th scope="col">Actions
                            <l-line-wobble size="80" stroke="5" bg-opacity="0.1" speed="1.75" color="white"
                                id="file-action-loader" style="display: none;"></l-line-wobble>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in s3_files %}
                    <tr>
                        <td>{{ file['Key'].split('/')[0] }}</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ file['Key'].split('/')[1] }}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <l-momentum size="35" stroke="3.5" speed="1" color="white"
                                        id="img-loader"></l-momentum>
                                    <img src="{{ url }}{{ file['Key'] }}" alt="File" class="img-fluid"
                                        style="width: 100px;" onload="handleImageLoad(this)">
                                </div>
                            </div>
                        </td>
                        <td>{{ file['Size'] }}</td>
                        <td>
                            <div class="container row">
                                <div class="container col-4">
                                    <a href="{{ url }}{{ file['Key'] }}" class="btn btn-primary">Download</a>
                                </div>
                                <div class="container col-4">
                                    <button class="btn btn-danger"
                                        onclick="fileAction('delete_file', '{{ (file.Key).split('/')[0] }}', '{{ (file.Key).split('/')[1] }}')">Delete</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
        </div>

        <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form" id="editUserForm">
                            <div class="form-group">
                                <label for="selector">Selector</label>
                                <input type="text" class="form-control" id="selector" placeholder="Enter a selector">
                            </div>
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter new name">
                            </div>
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" placeholder="Enter new username">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password"
                                    placeholder="Enter new password">
                            </div>
                            <div class="form-group">
                                <label for="roll_number">Phone</label>
                                <input type="number" class="form-control" id="roll_number"
                                    placeholder="Enter new phone number">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="saveUser()">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h2>Test Endpoints</h2>
            <ul>
                <li class="endpoint-list-items list-item" style="margin: 10px;"><button onclick="checkEndpoint('/')"
                        class="btn btn-primary">Home Page</button></li>
                <li class="endpoint-list-items list-item" style="margin: 10px;"><button
                        onclick="checkEndpoint('/posts')" class="btn btn-primary">/posts</button></li>
                <li class="endpoint-list-items list-item" style="margin: 10px;"><button
                        onclick="checkEndpoint('/create_post')" class="btn btn-primary">/create_post</button></li>
                <li class="endpoint-list-items list-item" style="margin: 10px;"><button
                        onclick="checkEndpoint('/logout')" class="btn btn-danger">Logout</button></li>
                <li class="endpoint-list-items list-item" style="margin: 10px;"><button
                        onclick="checkEndpoint('/login')" class="btn btn-primary">Login</button>
                </li>
                <li class="endpoint-list-items list-item" style="margin: 10px;"><button
                        onclick="checkEndpoint('/hives')" class="btn btn-primary">/hives</button></li>
                <li class="endpoint-list-items list-item" style="margin: 10px;"><button
                        onclick="checkEndpoint('/debug')" class="btn btn-primary">/debug</button></li>
            </ul>
        </div>
    </div>

    <script>
        async function checkEndpoint(endpoint) {
            console.log(`Checking endpoint ${endpoint}`);
            if (endpoint === '/logout') {
                alert('ESVIN, DO NOT CLICK -Esvin');
                return;
            }

            try {
                const response = await fetch(endpoint, {
                    method: 'POST'
                });

                if (response.ok) {
                    alert(`Endpoint ${endpoint} contacted successfully!. Method used: POST`);
                } else {
                    const getResponse = await fetch(endpoint, {
                        method: 'GET'
                    });

                    if (getResponse.ok) {
                        alert(`Endpoint ${endpoint} contacted successfully. Method used: GET`);
                    } else {
                        const errorMessage = await getResponse.text();
                        alert(`Endpoint ${endpoint} returned an error message after retry: ${errorMessage}`);
                    }
                }
            } catch (error) {
                console.error(`Endpoint ${endpoint} failed to contact!`, error);
                alert(`Error contacting ${endpoint}`);
            }
        }

        function handleImageLoad(image) {
            var loader = document.getElementById('img-loader');
            loader.style.display = 'none';
        }

        function updateCurrentTime() {
            var currentTimeElement = document.getElementById('current-time');
            var currentTime = new Date().toLocaleTimeString();
            currentTimeElement.innerText = 'The time is: ' + currentTime;
        }

        setInterval(updateCurrentTime, 1000);

        updateCurrentTime();

        function fileAction(action, file_folder, file_name, extra_args = '') {
            const fileActionLoader = document.getElementById('file-action-loader');
            fileActionLoader.style.display = 'block';

            // console.log(action, file_folder, file_name)

            fetch(`/admin/${action}/${file_folder}_${file_name}_${extra_args}`, {
                method: 'POST'
            }).then(response => response.json())
                .then(data => {
                    fileActionLoader.style.display = 'none';
                    if (data.success) {
                        window.location.reload();
                    } else {
                        alert('Failed to delete file ${filename}!');
                    }
                });
        }

        $('#editUserForm').addEventListener('submit', function (event) {
            event.preventDefault();

            alert('Form submitted!');


        });

        function userAction(action, username) {
            const userActionLoader = document.getElementById('user-action-loader');
            userActionLoader.style.display = 'block';

            fetch(`/admin/${action}/${username}`, {
                method: 'POST'
            }).then(response => response.json())
                .then(data => {
                    userActionLoader.style.display = 'none';
                    if (data.success) {
                        window.location.reload();
                    } else {
                        alert('Failed to perform action ${action} on user ${username}!');
                    }
                });
        }

        function saveUser() {
            const name = document.getElementById('name').value;
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            const phone = document.getElementById('phone').value;

            var FormData = {
                name: name,
                username: username,
                password: password,
                phone: phone
            };

            console.log(formData);

            fetch('/edit_user/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)

            }).then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('User saved successfully!');
                        window.location.reload();
                    } else {
                        alert('Failed to save user!');
                    }
                });
        }



    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% else %}
    <div class="container">
        <h1>Access Denied</h1>
        <p>You are not Developer! Go Away!</p>
    </div>
    {% endif %}
    <hr />
</body>

</html>