<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="HiveMind - Student Server">
    <meta name="description"
        content="HiveMind is a student server that allows students to collaborate and share resources with each other.">
    <meta name="keywords" content="student server, student collaboration, study materials, student resources">
    <meta name="author" content="Esvin Joshua">

    <title>HiveMind - Discussion Rooms</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/5849743ccd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">HiveMind</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <img src="{{ profile_picture_url }}" alt="Profile Picture"
                            class="nav-profile-picture rounded-circle" style="width: 40px; height: 40px;">
                    </li>
                    <li class="nav-item">
                        <a class="nav-username username-link" href="/view_profile/{{ session.id }}">{{ session.name }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('materials') }}">Study Materials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('view_posts') }}">View Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('create_post_page') }}">Create Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Discussion Rooms Section -->
    <section class="discussion-rooms-section">
        <div class="container discussion-container">
            <h2>Discussion Rooms</h2>
            <a href="{{ url_for('create_room_page') }}" class="btn btn-primary mb-4">Create Room</a>
            <div class="row">
                {% for room in rooms %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title" id="study-text">{{ room.name }}</h5>
                            <p class="card-subtitle">{{ room.description }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="/discussions/{{ room.room_id }}" class="btn btn-primary">Join</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>