<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Posts</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5849743ccd.js" crossorigin="anonymous"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/momentum.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/lineWobble.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="/static/imgs/favicon.ico" type="image/x-icon">
</head>

<body>

    {% if current_user.is_authenticated %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">HiveMind</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <div class="profile-picture-div-navbar"> <img src="{{ profile_picture_url }}"
                                alt="Profile Picture" class="nav-profile-picture rounded-circle"
                                style="width: 40px; height: 40px;">
                        </div>
                    </li>

                    <li class="nav-item nav-username a-special-case">
                        <a class="nav-username a-special-case" href="/view_profile/{{ session.id }}">{{ session.name }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                    </li>
                    <!--  -->

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hives
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('hives') }}">View Hives</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('materials') }}">Study Materials</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>

                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Search bar -->
    <div class="container" style="padding: 10px;">
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="searchInput" placeholder="Search Posts">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="searchButton">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
        <span class="text-muted">Search by author, title, or content. Anonymous posts do not support searching.</span>
        <div class="container" style="padding: 10px;">
            {% if user.verified %}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createPostModal">
                Create Post
            </button>
            {% else %}
            <span class="text-muted">You need to verify your account to create posts. <a class="btn btn-primary"
                    href="{{ url_for('verify_id_page') }}">Verify Now.</a> </span>
            {% endif %}
        </div>
    </div>

    <section class="post-section">
        <div id="post-container">
            <div class="container col-sm-4" style="margin: auto;">
                {% for post in posts %}
                <div class="card text-light" id="post-card-{{ post['post_id'] }}" style="background-color: black;">
                    <div class="mb-4">
                        <ul class="nav nav-tabs" id="postTabs-{{ post['post_id'] }}" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="postDetails-tab-{{ post['post_id'] }}" data-toggle="tab"
                                    href="#postDetails-{{ post['post_id'] }}" role="tab"
                                    aria-controls="postDetails-{{ post['post_id'] }}" aria-selected="true">Post</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="comments-tab-{{ post['post_id'] }}" data-toggle="tab"
                                    href="#comments-{{ post['post_id'] }}" role="tab"
                                    aria-controls="comments-{{ post['post_id'] }}" aria-selected="false">Comments</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="actions-tab-{{ post['post_id'] }}" data-toggle="tab"
                                    href="#actions-{{ post['post_id'] }}" role="tab"
                                    aria-controls="actions-{{ post['post_id'] }}" aria-selected="false">Actions</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="info-tab-{{ post['post_id'] }}" data-toggle="tab"
                                    href="#info-{{ post['post_id'] }}" role="tab"
                                    aria-controls="info-{{ post['post_id'] }}" aria-selected="false">Information</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="postTabsContent">
                            <div class="tab-pane fade show active" id="postDetails-{{ post['post_id'] }}"
                                role="tabpanel" aria-labelledby="postDetails-tab-{{ post['post_id'] }}">
                                <div class="card-header row text-center">
                                    {% if post.anonymous %}
                                    <span class="a-special-case-no-hover post-author">Anonymous</span>
                                    <div class="post-pfp">
                                        <img src="{{ builder_url }}{{ post['profile_picture'] }}" alt="Profile Picture"
                                            class="nav-profile-picture rounded-circle ml-2 post-author-pfp">
                                    </div>
                                    {% else %}
                                    <a class="a-special-case post-author" href="/view_profile/{{ post['username'] }}">{{
                                        post['username'] }} {% if user.verified %}<i class="fas fa-circle-check"></i>{%
                                        endif %}
                                        </h5></a>
                                    <div class="post-pfp">
                                        <img src="{{ builder_url }}{{ post['profile_picture'] }}" alt="Profile Picture"
                                            class="nav-profile-picture rounded-circle ml-2 post-author-pfp">
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="card-body container">
                                    {% if post['contains_image'] %}
                                    <div class="image-loader" role="status">
                                        <l-line-wobble size="80" stroke="5" bg-opacity="0.1" speed="1.75" color="white"
                                            id="image-loader"></l-line-wobble>
                                    </div>
                                    <img src="{{ builder_url }}{{ post['post_image'] }}" class="img-fluid post-image"
                                        onload="handleImageLoad(this)" style="border-radius: 5px;">
                                    <hr>
                                    <div class="container text-center">
                                        {% if post['title'] != "" %}
                                        <p class="card-title">{{ post['title'] }}</p>
                                        {% endif %}
                                        <p class="card-text">{{ post['content'] }}</p>
                                    </div>
                                    {% elif post['song_url'] == '' %}
                                    <div class="container">
                                        {% if post['title'] != "" %}
                                        <p class="card-title">{{ post['title'] }}</p>
                                        {% endif %}
                                        <p class="card-text text-center">{{ post['content'] }}</p>
                                    </div>
                                    {% elif post['gif_url'] %}
                                    <div class="container">
                                        <div class="image-loader" role="status">
                                            <l-line-wobble size="80" stroke="5" bg-opacity="0.1" speed="1.75"
                                                color="white" id="image-loader"></l-line-wobble>
                                        </div>
                                        <img src="{{ post['gif_url'] }}"
                                            class="img-fluid post-image post-image-container"
                                            style="border-radius: 5px;" onload=" handleImageLoad(this)">
                                        <img src="/static/imgs/powered-by-giphy.png" alt="Powered by Giphy"
                                            style="justify-content: left; margin: 10px; width: 60px;">
                                        {% if post['title'] %}
                                        <p class="card-title" style="padding: 10px;">{{ post['title'] }}</p>
                                        {% endif %}
                                        <p class="card-text text-center">{{ post['content'] }}</p>
                                        <hr>
                                    </div>
                                    {% else %}
                                    <div class="music-loader" role="status">
                                        <l-line-wobble size="80" stroke="5" bg-opacity="0.1" speed="1.75" color="white"
                                            id="music-loader"></l-line-wobble>
                                    </div>
                                    <iframe style="border-radius:12px" src="{{ post.song_url }}?utm_source=generator"
                                        width="100%" height="150" frameBorder="0" allowfullscreen=""
                                        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                                        loading="lazy" onload="handleMusicEmbedLoad(this)"></iframe>
                                    {% if post['title'] %}
                                    <p class="card-title" style="padding: 10px;">{{ post['title'] }}</p>
                                    {% endif %}
                                    <p class="card-text text-center">{{ post['content'] }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="comments-{{ post['post_id'] }}" role="tabpanel"
                                aria-labelledby="comments-tab-{{ post['post_id'] }}">
                                <ul class="list-unstyled">
                                    {% for comment in post['comments'] %}
                                    {% if comment.comment != "" %}
                                    <li style="margin: 5px;">{{ comment['author'] }} said: {{
                                        comment['comment'] }}
                                        {% if session.name == comment['author'] %}
                                        <span>
                                            <form action="/delete_comment" method="POST">
                                                <input type="hidden" name="comment" value="{{ comment['comment'] }}">
                                                <input type="hidden" name="comment_author"
                                                    value="{{ comment['author'] }}">
                                                <button type="submit" class="btn fas fa-trash"
                                                    style="color: white;"></button>
                                            </form>
                                        </span>
                                        {% endif %}
                                        <hr class="ruler">
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                                <div class="add-comment-section">
                                    <h5>Add a Comment</h5>
                                    <form action="/comment" method="POST">
                                        <input type="hidden" name="post_id" value="{{ post['post_id'] }}">
                                        <input type="text" name="comment" class="form-control" placeholder="Spill it">
                                        <button type="submit" class="btn btn-primary mt-2"><i
                                                class="fas fa-share"></i></button>
                                    </form>
                                </div>
                            </div>
                            <div class=" tab-pane fade" id="actions-{{ post['post_id'] }}" role="tabpanel"
                                aria-labelledby="actions-tab-{{ post['post_id'] }}">
                                {% if session.name == post['author'] or session.id == post['username'] %}
                                <button class="btn btn-danger" onclick="deletePost('{{ post.post_id }}')">Delete
                                    Post</button>
                                {% else %}
                                <p>No actions for this post</p>
                                {% endif %}
                            </div>
                            <div class="tab-pane fade" id="info-{{ post['post_id'] }}" role="tabpanel"
                                aria-labelledby="info-tab-{{ post['post_id'] }}">
                                <p>Posted on: {{ post['date'] }}</p>
                                {% if post['contains_image'] %}
                                <p>File size: {{ post['image_size'] }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <hr>

                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <div class="modal fade" id="createPostModal" tabindex="-1" role="dialog" aria-labelledby="createPostModalLabel"
        aria-hidden="true" style="color: black;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createPostModalLabel">Create Post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="createPostForm" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="postTitle">Title</label>
                            <input type="text" class="form-control" id="postTitle" name="post_title"
                                placeholder="optional">
                        </div>
                        <div class="form-group">
                            <label for="postContent">Content</label>
                            <textarea class="form-control" id="postContent" name="post_text" rows="3" required
                                placeholder="{{ content_placeholder }}"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="postImage">Got an image?</label>
                            <input type="file" class="form-control-file" id="postImage" name="post_image"
                                accept="image/*" max-size="20971520">
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="submitPostButton" class="btn btn-primary">Create
                        Post</button>
                    <l-momentum size="40" speed="1.1" color="black" class="loading-spinner"
                        style="display: none;"></l-momentum>
                </div>
                <input type="hidden" name="room_id" value="{{room['room_id']}}">
                </form>
            </div>
        </div>
    </div>


    {% else %}
    <div class="container">
        <p>You need to be logged in to view this page. Click <a href="{{ url_for('login') }}">here</a> to login.
        </p>
    </div>
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        document.getElementById('searchButton').addEventListener('click', filterPosts);

        document.getElementById('searchInput').addEventListener('input', filterPosts);


        function filterPosts() {
            var searchInput = document.getElementById('searchInput').value.toLowerCase();
            var posts = document.getElementsByClassName('card');
            for (var i = 0; i < posts.length; i++) {
                var author = posts[i].getElementsByClassName('post-author')[0];
                var title = posts[i].getElementsByClassName('card-title')[0];
                var content = posts[i].getElementsByClassName('card-text')[0];
                if (title && content && author) {
                    var authorText = author.innerText.toLowerCase();
                    var titleText = title.innerText.toLowerCase();
                    var contentText = content.innerText.toLowerCase();
                    if (titleText.includes(searchInput) || contentText.includes(searchInput) || authorText.includes(searchInput)) {
                        posts[i].style.display = 'block';
                    } else {
                        posts[i].style.display = 'none';
                    }
                } else if (title && content) {
                    var titleText = title.innerText.toLowerCase();
                    var contentText = content.innerText.toLowerCase();
                    if (titleText.includes(searchInput) || contentText.includes(searchInput)) {
                        posts[i].style.display = 'block';
                    } else {
                        posts[i].style.display = 'none';
                    }
                } else if (title) {
                    var titleText = title.innerText.toLowerCase();
                    if (titleText.includes(searchInput)) {
                        posts[i].style.display = 'block';
                    } else {
                        posts[i].style.display = 'none';
                    }
                } else if (content) {
                    var contentText = content.innerText.toLowerCase();
                    if (contentText.includes(searchInput)) {
                        posts[i].style.display = 'block';
                    } else {
                        posts[i].style.display = 'none';
                    }
                }
            }
        }
        var commentsContainers = document.getElementsByClassName('comments-container');
        for (var i = 0; i < commentsContainers.length; i++) {
            var comments = commentsContainers[i].getElementsByTagName('li');
            if (comments.length > 3) {
                commentsContainers[i].style.height = '100px';
                commentsContainers[i].style.overflowY = 'scroll';
            }
        }

        var postImages = document.getElementsByClassName('post-image');
        for (var i = 0; i < postImages.length; i++) {
            if (postImages[i].complete) {
                handleImageLoad(postImages[i]);
            }
        }

        function handleImageLoad(image) {
            var loader = image.previousElementSibling;
            loader.style.display = 'none';
        }


        document.getElementById('createPostForm').addEventListener('submit', function (e) {
            e.preventDefault();

            var form = document.getElementById('createPostForm');
            var formData = new FormData(form);
            var submitButton = document.getElementById('submitPostButton');
            var loadingSpinner = document.querySelector('.loading-spinner');
            var anonymousCheck = document.getElementById('anonymousCheck');

            console.log(formData);

            submitButton.disabled = true;
            submitButton.innerText = 'Creating Post...';
            loadingSpinner.style.display = 'inline-block';

            fetch('/create_hive_post', {
                method: 'POST',
                body: formData
            }).then(response => response.json())
                .then(data => {
                    if (data.profanity) {
                        submitButton.innerText = 'L :(';
                        loadingSpinner.style.display = 'none';
                        alert('Profanity detected in the post. You have been blacklisted, and will now be logged out of HiveMind.');
                        window.location.href = "{{ url_for('index') }}";
                    } else if (data.warning) {
                        submitButton.innerText = 'Create Post';
                        loadingSpinner.style.display = 'none';
                        alert('Your post contains a word that is not allowed on HiveMind. Please remove it and try again.');
                    } else if (data.success) {
                        window.location.reload();
                    } else {
                        submitButton.innerText = 'Create Post';
                        loadingSpinner.style.display = 'none';
                        alert('An error occurred while creating the post. Please try again.');
                    }
                });
        });
    </script>
</body>

</html>