<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="HiveMind - Student Server">
    <meta name="description"
        content="HiveMind is a student server that allows students to collaborate and share resources with each other.">
    <meta name="keywords" content="student server, student collaboration, study materials, student resources">
    <meta name="author" content="Esvin Joshua">

    <title>HiveMind - Student Server</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/5849743ccd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">HiveMind</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <img src="{{ profile_picture_url }}" alt="Profile Picture"
                            class="nav-profile-picture rounded-circle" style="width: 40px; height: 40px;">
                    </li>
                    <li class="nav-item nav-username">
                        <a class="nav-username" href="/view_profile/{{ session.id }}">{{ session.name }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('materials') }}">Study Materials</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('view_posts') }}">View Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('view_posts') }}">View Posts</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('view_profile', username=session.id) }}">View
                                Profile</a>
                            <a class="dropdown-item" href="{{ url_for('update_profile') }}">Account Settings</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hives
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('hives') }}">View Hives</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>



    <!-- Landing Section -->
    <section class="landing-section">
        <div class="landing-text">
            <span class="gradient-text" id="part1">Hive</span><span class="gradient-text" id="part2">Mind</span>
        </div>
        <p>Created by Esvin Joshua</p>
    </section>

    <!-- About Section -->
    <section class="about-section" id="about">
        <div class="container">
            <h2>About HiveMind</h2>
            <p>HiveMind is a student server that allows students to collaborate and share resources with each other.
                Students can make posts, join hives, and review study materials.</p>
            <div class="row" id="icons-holder">
                <div class="col-md-4">
                    <i class="fas fa-pencil-alt fa-3x"></i>
                    <p>View Posts</p>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-comments fa-3x"></i>
                    <p>Join Hives</p>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-file-alt fa-3x"></i>
                    <p>Review Study Materials</p>
                </div>


            </div>
    </section>

    <!-- About Developer Section -->
    <section class="about-developer-section bg-secondary">
        <div class="container">
            <h2>About the Developer</h2>
            <div class="row">
                <div class="col-md-4">
                    <!-- <img src="/static/imgs/profile.jpg" alt="Esvin Joshua"
                        class="img-fluid rounded-circle dev-pfp-image" id="dev-pfp"> -->
                    <h3 class="dev-name">Esvin Joshua</h3>
                </div>

                <div class="col-md-4" id="about-dev-text">
                    <p>Hey there! I'm Esvin Joshua, a full-stack web developer. I created HiveMind as a project to
                        showcase my skills in web development. HiveMind is a student server that allows students to
                        collaborate and share resources with each other. Students can make posts, join hives, and diss
                        the teachers you don't like. Have fun using this platform, and as with everything, don't be rude
                        to others. Have fun!
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Call to Action Section -->
    <section class="cta-section bg-dark">
        <div class="container">
            <h2 class="text-white">Get Started</h2>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <a href="{{ url_for('view_posts') }}" class="btn btn-light btn-lg btn-block cta-button"><i
                            class="fas fa-pencil-alt"></i> View Posts</a>
                </div>
                <div class="col-md-4">
                    <a href="{{ url_for('hives') }}" class="btn btn-light btn-lg btn-block cta-button"><i
                            class="fas fa-comments"></i> Join
                        Hives</a>
                </div>
                <div class="col-md-4">
                    <a href="{{ url_for('materials') }}" class="btn btn-light btn-lg btn-block cta-button"><i
                            class="fas fa-file-alt"></i>
                        Review Study
                        Materials</a>
                </div>
            </div>
        </div>
    </section>

    <!-- JavaScript for landing text animation -->
    <script>
        window.addEventListener('scroll', function () {
            const scroll = window.scrollY;
            const part1 = document.getElementById('part1');
            const part2 = document.getElementById('part2');

            // part1.style.transform = `translateX(${scroll / 2}px)`;
            // part2.style.transform = `translateX(-${scroll / 2}px)`;

            var screenWidth = window.innerWidth;
            if (screenWidth < 768) {
                part1.style.transform = `translateX(${scroll / screenWidth * 50}px)`;
                part2.style.transform = `translateX(-${scroll / screenWidth * 50}px)`;
            } else if (screenWidth >= 768 && screenWidth < 992) {
                part1.style.transform = `translateX(${scroll / screenWidth * 100}px)`;
                part2.style.transform = `translateX(-${scroll / screenWidth * 100}px)`;
            } else {
                part1.style.transform = `translateX(${scroll / screenWidth * 150}px)`;
                part2.style.transform = `translateX(-${scroll / screenWidth * 150}px)`;
            }



        });

        // Make the dev-pfp slightly bigger on hover
        const devPfp = document.getElementById('dev-pfp');
        devPfp.addEventListener('mouseover', function () {
            devPfp.style.transform = 'scale(1.1)';
        });
        devPfp.addEventListener('mouseout', function () {
            devPfp.style.transform = 'scale(1)';
        });

    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>