<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="HiveMind - Student Server">
    <meta name="description"
        content="HiveMind is a student server that allows students to collaborate and share resources with each other.">
    <meta name="keywords" content="student server, student collaboration, study materials, student resources">
    <meta name="author" content="Esvin Joshua">

    <title>HiveMind - Student Server</title>
    <script type="module" src="https://md-block.verou.me/md-block.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/5849743ccd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="/static/imgs/favicon.ico" type="image/x-icon">

</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">HiveMind</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <div class="profile-picture-div-navbar"> <img src="{{ profile_picture_url }}"
                                alt="Profile Picture" class="nav-profile-picture rounded-circle"
                                style="width: 40px; height: 40px;">
                        </div>
                    </li>

                    <li class="nav-item nav-username a-special-case">
                        <a class="nav-username a-special-case" href="/view_profile/{{ session.id }}">{{ session.name }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('materials') }}">Study Materials</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('view_posts') }}">View Posts</a>
                    </li>
                    <!--  -->

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hives
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('hives') }}">View Hives</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="container" style="margin: 20px auto; padding: 40px auto;">
            {% if current_user.is_authenticated %}
            <div class="container" style="margin: 20px auto; padding: 40px auto;">
                <h2>Hey, {{ session.name }}!</h2>
                <p>Welcome to <span class="gradient-text" style="font-size: 20px;">HiveMind</span>!
                    <br>Note: Optimized for desktop and laptop devices.
                </p>
            </div>
            {% endif %}
            <h1 class="text-center">Site Map</h1>
            <div class="row" style="margin: 20px auto; padding: 40px auto;">
                <div class="col-md-4" style="margin: 20px auto; padding: 40px auto;">
                    <h2>Features</h2>
                    <ul>
                        <li>
                            <h4><a class="a-special-case" href="{{ url_for('view_posts') }}">Posts</a></h4>

                        </li>
                        <li>
                            <h4><a class="a-special-case" href="{{ url_for('materials') }}">Study Materials</a></h4>

                        </li>
                        <li>
                            <h4><a class="a-special-case" href="{{ url_for('hives') }}">Hives</a></h4>

                        </li>
                        <li>
                            <h4>
                                <a class="a-special-case" href="{{ url_for('Diary') }}">Diary</a>
                            </h4>

                        </li>
                        <li>
                            <h4><a class="a-special-case" href="#">Inbox (Under Development)</a></h4>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4" style="margin: 20px auto; padding: 40px auto;">
                    <h2>Account</h2>
                    <ul>
                        <li>
                            <h4><a class="a-special-case" href="{{ url_for('login') }}">Login</a></h4>
                            {% if not current_user.is_authenticated %}
                            <md-block class="a-special-case-no-hover">
                                >- Login to your account. (You are not logged in)
                            </md-block>
                            {% endif %}
                        </li>
                        <li>
                            <h4><a class="a-special-case" href="{{ url_for('register') }}">Register</a></h4>
                            {% if not current_user.is_authenticated %}
                            <md-block class="a-special-case-no-hover">
                                >- Register for an account.
                            </md-block>
                            {% endif %}
                        </li>
                        <li>
                            <h4><a class="a-special-case" href="{{ url_for('view_profile', username=session.id) }}">View
                                    Profile</a></h4>

                        </li>
                    </ul>
                </div>
                <div class="col-md-4" style="margin: 20px auto; padding: 40px auto;">
                    <h3>Hover over a link to view its information</h3>
                    <p id="link-description"></p>
                </div>
            </div>
        </div>
    </div>



    <script>
        const aSpecialCase = document.querySelectorAll('.a-special-case');
        const linkDescription = document.getElementById('link-description');

        const default_info = 'Hover over a link to view its information';

        const info_table = {
            'Posts': '> A place to view and make posts with images, gifs and text. Your posts will be visible to other students of your college',
            'Study Materials': '> View, Download and upload study materials in pdf format. These materials will be visible to other students of your college.',
            'Hives': '> Join and create hives to collaborate with other students.',
            'Diary': '> Make notes, diary entries and thoughts. These entries are private and only visible to you.',
            'Inbox (Under Development)': '> A place to send private one time messages to other students of your college.',
            'Login': '> Login to your account.',
            'Register': '> Register for an account on HiveMind.',
            'View Profile': '> View your profile, and search for other users.',
        };

        aSpecialCase.forEach((element) => {
            element.addEventListener('mouseover', (e) => {
                linkDescription.innerText = info_table[element.innerText];
            });
            element.addEventListener('mouseout', (e) => {
                linkDescription.innerText = default_info;
            });
        });


    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>