<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Materials</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/5849743ccd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">HiveMind</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <div class="profile-picture-div-navbar"> <img src="{{ profile_picture_url }}"
                                alt="Profile Picture" class="nav-profile-picture rounded-circle"
                                style="width: 40px; height: 40px;">
                        </div>
                    </li>

                    <li class="nav-item nav-username a-special-case">
                        <a class="nav-username a-special-case" href="/view_profile/{{ session.id }}">{{ session.name }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('view_profile', username=session.id) }}">View
                                Profile</a>
                            <a class="dropdown-item" href="{{ url_for('update_profile') }}">Account Settings</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hives
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('hives') }}">View Hives</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('view_posts') }}">View Posts</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1 class="text-center my-5">Study Materials</h1>

        <!-- Search bar -->
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="searchInput" placeholder="Search materials">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="searchButton">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>

        <!-- Tabs to select year -->
        <ul class="nav nav-tabs" id="yearTabs" style="margin: 10px;">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#all">All</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#year1">Year 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#year2">Year 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#year3">Year 3</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#year4">Year 4</a>
            </li>
            <!-- add a button at the end of bar -->
            <li class="nav-item nav-item-end">
                <a class="btn btn-primary" href="{{ url_for('upload_material_page') }}">Upload</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="all">
                <div class="row" id="materialCards">
                    {% for material in materials %}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <i class="fas fa-file-alt fa-3x"></i>
                                <h5 class="card-title" id="study-text">{{ material.title }}</h5>
                                <h4 class="card-subtitle text-muted">Year: {{ material.year }}</h4>
                            </div>
                            <div class="card-footer">
                                <a href="{{ url_for('download', filename=material.title) }}"
                                    class="btn btn-success btn-block">Download</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="year1">
                <div class="row" id="materialCards">
                    {% for material in materials %}
                    {% if material['year'] == 1 %} <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <i class="fas fa-file-alt fa-3x"></i>
                                <h5 class="card-title" id="study-text">{{ material.title }}</h5>
                            </div>
                            <div class="card-footer">
                                <a href="{{ url_for('download', filename=material.title) }}"
                                    class="btn btn-success btn-block">Download</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="year2">
                <div class="row" id="materialCards">
                    {% for material in materials %}
                    {% if material['year'] == 2%}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <i class="fas fa-file-alt fa-3x"></i>
                                <h5 class="card-title" id="study-text">{{ material.title }}</h5>
                            </div>
                            <div class="card-footer">
                                <a href="{{ url_for('download', filename=material.title) }}"
                                    class="btn btn-success btn-block">Download</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="tab-pane fade" id="year3">
                <div class="row" id="materialCards">
                    {% for material in materials %}
                    {% if material['year'] == 3 %}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <i class="fas fa-file-alt fa-3x"></i>
                                <h5 class="card-title" id="study-text">{{ material.title }}</h5>
                            </div>
                            <div class="card-footer">
                                <a href="{{ url_for('download', filename=material.title) }}"
                                    class="btn btn-success btn-block">Download</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="tab-pane fade" id="year4">
                <div class="row" id="materialCards">
                    {% for material in materials %}
                    {% if material['year'] == 4 %}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <i class="fas fa-file-alt fa-3x"></i>
                                <h5 class="card-title" id="study-text">{{ material.title }}</h5>
                            </div>
                            <div class="card-footer">
                                <a href="{{ url_for('download', filename=material.title) }}"
                                    class="btn btn-success btn-block">Download</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        // Function to filter materials based on search query
        function filterMaterials() {
            var input = document.getElementById('searchInput');
            var filter = input.value.toUpperCase();
            var materialCards = document.getElementById('materialCards');
            var cards = materialCards.getElementsByClassName('card');

            // Loop through all materials, hide those that don't match the search query
            for (var i = 0; i < cards.length; i++) {
                var title = cards[i].querySelector('.card-title');
                if (title.innerText.toUpperCase().indexOf(filter) > -1) {
                    cards[i].style.display = "";
                } else {
                    cards[i].style.display = "none";
                }
            }
        }

        // Add event listener to search button
        document.getElementById('searchButton').addEventListener('click', filterMaterials);

        // Add event listener to search input for live filtering
        document.getElementById('searchInput').addEventListener('input', filterMaterials);
    </script>

</body>

</html>