<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mindspace - Note down your thoughts</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">

    <script src="https://kit.fontawesome.com/5849743ccd.js" crossorigin="anonymous"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/momentum.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/lineWobble.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
{% if current_user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">HiveMind</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <div class="profile-picture-div-navbar"> <img src="{{ profile_picture_url }}"
                                alt="Profile Picture" class="nav-profile-picture rounded-circle"
                                style="width: 40px; height: 40px;">
                        </div>
                    </li>

                    <li class="nav-item nav-username a-special-case">
                        <a class="nav-username a-special-case" href="/view_profile/{{ session.id }}">{{ session.name }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('materials') }}">Study Materials</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('view_profile', username=session.id) }}">View
                                Profile</a>
                            <a class="dropdown-item" href="{{ url_for('update_profile') }}">Account Settings</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hives
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('hives') }}">View Hives</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endif %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center mt-5">Mindspace</h1>
                <p class="text-center">Note down your thoughts</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form action="/note" method="POST">
                    <div class="form-group">
                        <label for="note">The title</label>
                        <input type="text" class="form-control" id="note_title" name="note_title" placeholder="something fun...or dark">
                    </div>
                    <div class="form-group">
                        <label for="note">The note</label>
                        <textarea class="form-control" id="note_content" name="note_content" rows="3" placeholder="whats on your mind"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    {% if notes %}
        <div class="row mt-5">
            <div class="col-md-12">
                <h2>Your notes</h2>
                <table class="table bg-light">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Content</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for note in notes %}
                        <tr>
                            <td>{{ note.title }}</td>
                            <td>{{ note.content }}</td>
                            <td>
                                <form class="form-group-sm" action="/delete_note" method="POST">
                                    <input type="hidden" name="note_id" value="{{ note.note_id }}">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endif %}
</body>
</html>