<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="favicon" href="/static/imgs/">

    <link rel="stylesheet" href="/static/styles.css">

    <style>
        .form-step {
            display: none;
        }

        .form-step.active {
            display: block;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">HiveMind</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <img src="{{ profile_picture_url }}" alt="Profile Picture"
                            class="nav-profile-picture rounded-circle" style="width: 40px; height: 40px;">
                    </li>
                    <li class="nav-item">
                        <span class="nav-username" id="username">{{ session.name }}</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('materials') }}">Study Materials</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('view_profile', username=session.id) }}">View
                                Profile</a>
                            <a class="dropdown-item" href="{{ url_for('update_profile') }}">Account Settings</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hives
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('hives') }}">View Hives</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <h2 class="mb-4">Register</h2>
        <form id="register-form" action="/register" method="POST">
            <div class="form-step active" id="step-1">
                <div class="form-group">
                    <label for="full_name">Full Name</label>
                    <input type="text" class="form-control" id="full_name" name="full_name" required>
                </div>
                <div class="form-group">
                    <label for="userName">Pick a username</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                    <div id="username-feedback"></div>
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    <input type="tel" class="form-control" id="phoneNumber" name="phone_number" minlength="10"
                        maxlength="10" required>
                </div>
                <button type="button" class="btn btn-primary next-step">Next</button>
            </div>

            <div class="form-step" id="step-2">
                <h3 class="mb-4">College Details</h3>
                <div class="form-group">
                    <label for="collegeRollNumber">College Roll Number</label>
                    <input type="text" class="form-control" id="collegeRollNumber" name="roll_number" minlength="10"
                        maxlength="10" required>
                </div>
                <div class="form-group">
                    <label for="profilePic">Profile Picture</label>
                    <input type="file" class="form-control-file" id="profilePic" name="profile_picture"
                        accept="image/*">
                </div>
                <div class="form-group">
                    <label for="collegeName">College Name</label>
                    <input type="text" class="form-control" id="collegeName" name="college_name" required>
                </div>

                <button type="button" class="btn btn-secondary prev-step">Previous</button>
                <button type="button" class="btn btn-primary next-step">Next</button>
            </div>

            <div class="form-step" id="step-3">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                    <p class="text-muted">Password must be at least 8 characters long,
                        contain at least one uppercase letter, one lowercase letter, one number, and one special
                        character.</p>
                </div>
                <div class="g-recaptcha" data-sitekey="{{ grec_sitekey }}" data-callback="enableSubmitButton"></div>
                <button type="button" class="btn btn-secondary prev-step">Previous</button>
                <button type="submit" id="submit-button" class="btn btn-primary">Register</button>

                <p class="mt-4">Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
                <p class="mt-4">By registering, you agree to our <a href="{{ url_for('tos_prp') }}">Terms of Service and
                        Privacy
                        Policy</a>.</p>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>

    <script>
        $(document).ready(function () {
            var currentStep = 1;
            var formSteps = $('.form-step');

            $('.next-step').click(function () {
                formSteps.eq(currentStep - 1).removeClass('active');
                currentStep++;
                formSteps.eq(currentStep - 1).addClass('active');
            });

            $('.prev-step').click(function () {
                formSteps.eq(currentStep - 1).removeClass('active');
                currentStep--;
                formSteps.eq(currentStep - 1).addClass('active');
            });
        });

        function enableSubmitButton() {
            var submitButton = document.getElementById("submit-button");
            submitButton.disabled = false;
        }

        document.addEventListener('DOMContentLoaded', () => {
            const usernameInput = document.getElementById('username');
            const usernameFeedback = document.getElementById('username-feedback');

            usernameInput.addEventListener('input', async () => {
                const username = usernameInput.value.trim();
                if (username.length > 0) {
                    const response = await fetch(`/check_username/${username}`);
                    const data = await response.json();
                    if (data.available) {
                        usernameFeedback.innerHTML = 'Username is available.';
                    } else {
                        usernameFeedback.innerHTML = 'Username is taken.';
                    }
                } else {
                    usernameFeedback.innerHTML = '';
                }
            });
        });

        async function uploadProfilePic() {
            const materialFile = document.getElementById('material_file').files[0];

            const formData = new FormData();
            formData.append('material_file', materialFile);

            const response = await fetch('/upload_material', {
                method: 'POST',
                body: formData
            });

            const data = await response.json();

            alert(data.message);
        }

    </script>
</body>

</html>