<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://kit.fontawesome.com/5849743ccd.js" crossorigin="anonymous"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/waveform.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <script type="module" src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/dotWave.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/ldrs/dist/auto/hatch.js"></script>

    <link rel="icon" href="/static/imgs/favicon.ico" type="image/x-icon">

    <style>
        .form-step {
            display: none;
        }

        .loader-step {
            display: none;
        }

        .form-step.active {
            display: block;
        }

        #page-step-2 {
            display: none;
        }

        .page-step.active {
            display: block;
        }

        .centered-container {
            /* display: flex; */
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">HiveMind</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <div class="profile-picture-div-navbar"> <img src="{{ profile_picture_url }}"
                                alt="Profile Picture" class="nav-profile-picture rounded-circle"
                                style="width: 40px; height: 40px;">
                        </div>
                    </li>

                    <li class="nav-item">
                        <span class="nav-username a-special-case" id="username">{{ session.name }}</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('materials') }}">Study Materials</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hives
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('hives') }}">View Hives</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5 page-step" id="page-step-1">
        <h2 class="mb-4">Register for a HiveMind Account!</h2>
        <hr>
        <form id="register-form" method="POST" enctype="multipart/form-data" style="margin: 10px auto;">
            <div class="form-step active" id="step-1">
                <h4 class="mb-4">Step 1: Who are you? <span class="fa-solid fa-user"></span> </h4>
                <div class="container">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="full_name">Full Name</label>
                                    <input type="input" class="form-control"
                                        placeholder="Enter your full and complete name" id="full_name" name="full_name"
                                        minlength="5" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="gender">Pick a Gender</label>
                                    <select class="form-control" name="gender" id="gender" required>
                                        <option value="">Gender ?</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="batman">Prefer not to say</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" placeholder="Enter your E-mail" id="email"
                                        name="email" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="dob">Date of Birth</label>
                                    <input type="date" class="form-control" placeholder="Date of Birth" id="dob"
                                        name="dob" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-2">
                                <div class="form-group field">
                                    <label for="country_code" class="form-label">Country Code</label>
                                    <input type="input" class="form-control" placeholder="country code"
                                        id="country_code" name="country_code" minlength="3" maxlength="5">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="phone-number-box">
                                    <div class="form-group">
                                        <label for="phone_number">Phone Number</label>
                                        <input type="input" class="form-control" placeholder="Phone Number"
                                            id="phone_number" name="phone_number" minlength="10" maxlength="10">
                                    </div>
                                    <div id="phone-feedback"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary next-step">Next</button>
                </div>
            </div>

            <div class="form-step" id="step-2">
                <h3 class="mb-4">Step 2: Personalize your account <span class="fas fa-user-cog"></span> </h3>
                <div class="container">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="username">Pick a Username</label>
                                    <input type="input" class="form-control" placeholder="pick a Username" id="username"
                                        name="username" minlength="5">
                                </div>
                                <l-waveform size="35" stroke="3.5" speed="1" color="white" id="username-check-loader"
                                    style="display: none;"></l-waveform>
                                <div id="username-feedback"></div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="account-bio">Add a Bio (You can add this later)</label>
                                    <textarea class="form-control" id="account-bio" name="account_bio"
                                        placeholder="Add a bio to your account" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="profile-pic">Profile Picture</label>
                                        <input type="file" class="form-control-file" id="profile-pic" name="profile_pic"
                                            accept="image/*">
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" id="default-pfp" name="default_pfp"
                                            onchange="previewImage()">
                                            <option value="">Or select a default profile picture</option>
                                            <option value="default_male_1.jpg">Male Avatar 1</option>
                                            <option value="default_female_1.jpg">Female Avatar 1</option>
                                            <option value="default_male_2.jpg">Male Avatar 2</option>
                                            <option value="default_female_2.jpg">Female Avatar 2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <img id="preview" src="" alt="Preview" style="display: none; margin: 10px auto;"
                                    width="100" height="100">
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-warning prev-step">Previous</button>
                <button type="button" class="btn btn-primary next-step">Next</button>
            </div>

            <div class="form-step" id="step-3">
                <h3 class="mb-4">Step 3: Education Info <span class="fa-solid fa-graduation-cap"></span> </h3>
                <div class="form-group">
                    <div class="container">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <div class="form-group field">
                                        <label for="name" class="form-label">College Roll No.</label>
                                        <input type="input" class="form-control" placeholder="Roll Number"
                                            id="collegeRollNumber" name="roll_number" minlength="10" maxlength="10">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="collegeName">College Name</label>
                                    <select class="form-control" name="college_name" id="collegeName">
                                        <option value="malla reddy institution of technology and science">Malla Reddy
                                            institution of
                                            technology and science
                                        </option>
                                        <option value="vnr vignana jyothi institute of engineering and technology">VNR
                                            Vignana
                                            Jyothi
                                            Institute of
                                            Engineering and Technology</option>
                                        <option value="mahatma gandhi institute of technology">Mahatma Gandhi Institute
                                            of
                                            Technology
                                        </option>
                                        <option value="ellenki college of engineering and technology">Ellenki College of
                                            Engineering
                                            and
                                            Technology</option>
                                        <option value="rajiv gandhi university of knowledge technologies">Rajiv Gandhi
                                            University of
                                            Knowledge Technologies
                                        </option>
                                        <option value="vignana bharathi institute of technology">Vignana Bharathi
                                            Institute of
                                            Technology</option>
                                        <option value="aurora group of institutions">Aurora Group of Institutions
                                        </option>
                                        <option value="geethanjali college of engineering and technology">Geethanjali
                                            College of
                                            Engineering and Technology
                                        </option>
                                        <option value="holy mary institute of technology">Holy mary institute of
                                            technology</option>
                                        <option value="vignan institute of management and technology for women">Vignan
                                            Institute of
                                            management and
                                            technology For Women</option>
                                        <option value="samskruti college of engineering and technology">Samskruti
                                            college of
                                            Engineering
                                            and Technology
                                        </option>
                                        <option value="princeton institute of engineering and technology">Princeton
                                            Institute of
                                            engineering and technology
                                        </option>
                                        <option value="anurag group of institutions">Anurag Group of Institutions
                                        </option>
                                        <option value="sreenidhi institute of science and technology">sreenidhi
                                            institute of science
                                            and
                                            technology</option>
                                        <option value="kommuri pratap reddy institute of technology">Kommuri pratap
                                            reddy institute
                                            of
                                            technology</option>
                                        <option value="nalla malla reddy engineering college">Nalla Malla Reddy
                                            Engineering College
                                        </option>
                                        <option value="megha institute of engineering and technology for women">Megha
                                            Institute of
                                            Engineering and
                                            Technology for Women</option>
                                        <option value="bits-pilani, hyderabad">BITS-Pilani, Hyderabad</option>
                                        <option value="indian institute of technology">Indian Institute of Technology
                                        </option>
                                        <option value="international institute of information technology">International
                                            Institute of
                                            Information Technology
                                        </option>
                                        <option value="jawaharlal nehru technological university">Jawaharlal Nehru
                                            Technological
                                            University</option>
                                        <option value="national institute of technology">National Institute of
                                            Technology</option>
                                        <option value="kakatiya university">Kakatiya University</option>
                                        <option value="osmania university">Osmania University</option>
                                        <option value="dvr college of engineering and technology">DVR College of
                                            Engineering and
                                            Technology</option>
                                        <option value="kakatiya institute of technology and science">Kakatiya Institute
                                            of
                                            Technology
                                            and Science</option>
                                        <option value="gandhi institute of technology and management">Gandhi Institute
                                            of Technology
                                            and
                                            Management</option>
                                        <option value="mnr college of engineering and technology">MNR College of
                                            Engineering and
                                            Technology</option>
                                        <option value="chaitanya bharathi institute of technology">Chaitanya Bharathi
                                            Institute of
                                            Technology</option>
                                        <option value="mlr institute of technology">MLR Institute of Technology</option>
                                        <option value="sridevi women's engineering college">Sridevi Women's Engineering
                                            College
                                        </option>
                                        <option value="vasavi college of engineering">Vasavi College of Engineering
                                        </option>
                                        <option value="bandari srinivas institute of technology">Bandari Srinivas
                                            Institute of
                                            Technology</option>
                                        <option value="kg reddy engineering college">KG Reddy Engineering College
                                        </option>
                                        <option value="vardhaman college of engineering">Vardhaman College of
                                            Engineering</option>
                                        <option value="school of engineering sciences and technology, uoh">School of
                                            Engineering
                                            Sciences and Technology,
                                            UoH</option>
                                        <option value="maturi venkata subba rao engineering college">Maturi Venkata
                                            Subba Rao
                                            Engineering College</option>
                                        <option value="aurora's technological and research institute">Aurora's
                                            Technological and
                                            Research Institute</option>
                                        <option value="nalla malla reddy engineering college">Nalla Malla Reddy
                                            Engineering College
                                        </option>
                                        <option value="tammannagari ramakrishna reddy college of engineering">
                                            Tammannagari
                                            Ramakrishna
                                            Reddy College of
                                            Engineering</option>
                                        <option value="bhoj reddy engineering college for women">Bhoj Reddy Engineering
                                            College for
                                            Women</option>
                                        <option value="deccan college of engineering and technology">Deccan College of
                                            Engineering
                                            and
                                            Technology</option>
                                        <option value="g. narayanamma institute of technology and science">G.
                                            Narayanamma Institute
                                            of
                                            Technology and
                                            Science</option>
                                        <option value="islamia college of engineering and technology">Islamia College of
                                            Engineering
                                            and
                                            Technology</option>
                                        <option value="keshav memorial institute of technology">Keshav Memorial
                                            Institute of
                                            Technology
                                        </option>
                                        <option value="methodist college of engineering and technology">Methodist
                                            College of
                                            Engineering
                                            and Technology
                                        </option>
                                        <option value="shadan women's college of engineering and technology">Shadan
                                            Women's College
                                            of
                                            Engineering and
                                            Technology</option>
                                        <option value="stanley college of engineering and technology for women">Stanley
                                            College of
                                            Engineering and
                                            Technology for Women</option>
                                        <option value="sri indu college of engineering and technology">Sri Indu College
                                            of
                                            Engineering
                                            and Technology
                                        </option>
                                        <option value="sri datta college of engineering">Sri Datta College of
                                            Engineering</option>
                                        <option value="bharath institute of science and technology">Bharath Institute of
                                            Science and
                                            Technology</option>
                                        <option value="guru nanak institute of technology">Guru Nanak Institute of
                                            Technology
                                        </option>
                                        <option value="scient institute of technology">SCIENT Institute of Technology
                                        </option>
                                        <option value="teegala krishna reddy engineering college">Teegala Krishna Reddy
                                            Engineering
                                            College</option>
                                        <option value="mahaveer institute of science and technology">Mahaveer Institute
                                            of Science
                                            and
                                            Technology</option>
                                        <option value="vaagdevi engineering college">Vaagdevi Engineering College
                                        </option>
                                        <option value="vaagdevi college of engineering">Vaagdevi College of Engineering
                                        </option>
                                        <option value="sumathi reddy institute of technology for women">Sumathi Reddy
                                            Institute of
                                            Technology for Women
                                        </option>
                                        <option value="aar mahaveer engineering college">AAR Mahaveer Engineering
                                            College</option>
                                        <option value="muffakam jha college of engineering and technology">Muffakam Jha
                                            College of
                                            Engineering and
                                            Technology</option>
                                        <option value="princeton college of engineering and technology">Princeton
                                            College of
                                            Engineering
                                            and Technology
                                        </option>
                                        <option value="shadan college of engineering and technology">Shadan College of
                                            Engineering
                                            and
                                            Technology</option>
                                        <option value="matrusri engineering college">Matrusri Engineering College
                                        </option>
                                        <option value="cvr college of engineering">CVR College of Engineering</option>
                                        <option value="nawab shah alam khan college of engineering and technology">Nawab
                                            Shah Alam
                                            Khan
                                            College of
                                            Engineering and Technology</option>
                                        <option value="sreyas institute of engineering and technology">Sreyas Institute
                                            Of
                                            Engineering
                                            and
                                            Technology</option>
                                        <option value="jntuh college of engineering sultanpur">JNTUH College of
                                            Engineering
                                            Sultanpur
                                        </option>
                                        <option value="vidya jyothi institute of science and technology">Vidya Jyothi
                                            Institute of
                                            Science and Technology
                                        </option>
                                        <option value="abhinav hi-tech college of engineering and technology">Abhinav
                                            Hi-Tech
                                            College of
                                            Engineering and
                                            Technology</option>
                                        <option value="joginpally b r engineering college">Joginpally B R Engineering
                                            College
                                        </option>
                                        <option value="jb institute of engineering and technology">JB Institute of
                                            Engineering and
                                            Technology</option>
                                        <option value="siddhartha institute of technology and sciences">Siddhartha
                                            Institute of
                                            Technology and Sciences
                                        </option>
                                        <option value="lords institute of engineering and technology">Lords Institute of
                                            Engineering
                                            and
                                            Technology</option>
                                        <option value="avn college of engineering">AVN College of Engineering</option>
                                        <option value="visvesvaraya college of engineering and technology">Visvesvaraya
                                            College of
                                            Engineering and
                                            Technology</option>
                                        <option value="jagruti institute of engineering and technology">Jagruti
                                            Institute of
                                            Engineering
                                            and
                                            Technology</option>
                                        <option value="gokraju ranjaraju institute of engineering and technology">
                                            Gokraju Ranjaraju
                                            Institute of Engineering
                                            and Technology</option>
                                        <option value="st. martins engineering college">St. Martins Engineering College
                                        </option>
                                        <option value="cmr engineering college">CMR Engineering college</option>
                                        <option value="cmr technical campus">CMR Technical Campus</option>
                                        <option value="malla reddy engineering college">Malla Reddy Engineering College
                                        </option>
                                        <option value="hyderabad institute of technology and management">Hyderabad
                                            Institute of
                                            Technology and Management
                                        </option>
                                        <option value="cmr institute of technology">CMR Institute Of Technology</option>
                                        <option value="cmr college of engineering and technology">CMR College Of
                                            Engineering and
                                            Technology
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <select class="form-control" name="year_of_study" id="year_of_study" required>
                                            <option value="">Year of Study</option>
                                            <option value="1">1st Year</option>
                                            <option value="2">2nd Year</option>
                                            <option value="3">3rd Year</option>
                                            <option value="4">4th Year</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-warning prev-step">Previous</button>
                <button type="button" class="btn btn-primary next-step">Next</button>
            </div>

            <div class="form-step" id="step-4">
                <h3 class="mb-4">Step 4: Boring survey Stuff (You can skip this) <span class="fa-solid fa-poll"></span>
                </h3>
                <div class="form-group">
                    <div class="container">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="advertisement">Where did you hear about HiveMind</label>
                                        <select class="form-control" name="advertisement" id="advertisement" required>
                                            <option value="">Select an option</option>
                                            <option value="friend">Friend</option>
                                            <option value="social_media">Social Media</option>
                                            <option value="advertisement">Advertisement</option>
                                            <option value="other">Other</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <label for="intention-of-usage">What do you intend to use HiveMind for?</label>
                                    <input type="text" class="form-control" placeholder=":)" id="intention-of-usage"
                                        name="intention_of_usage">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-warning prev-step">Previous</button>
                <button type="button" class="btn btn-primary next-step">Next</button>
            </div>

            <div class="form-step" id="step-5">
                <h3 class="mb-4">Step 5: Secure your account <span class="fa-solid fa-lock"></span> </h3>
                <div class="container">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="password" class="form-control" placeholder="Password" id="password"
                                            name="password" minlength="8" required>
                                        <div class="input-group-append" style="padding-bottom: 10px;">
                                            <button class="btn btn-outline-secondary" type="button" id="togglePassword"
                                                onclick="ToggleVisibility('password', 'togglePassword')">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <input type="password" class="form-control" placeholder="Confirm Password"
                                            id="confirmPassword" name="confirm_password" minlength="8" required>
                                        <div class="input-group-append" style="padding-bottom: 10px;">
                                            <button class="btn btn-outline-secondary" type="button"
                                                id="togglePasswordConfirm"
                                                onclick="ToggleVisibility('confirmPassword', 'togglePasswordConfirm')">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div id="password-feedback"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="security-question">Security Question</label>
                                <select class="form-control" name="security_question" id="security-question" required>
                                    <option value="">Select a security question</option>
                                    <option value="What is your mother's maiden name?">What is your mother's maiden
                                        name?</option>
                                    <option value="What is the name of your first pet?">What is the name of your first
                                        pet?</option>
                                    <option value="What is the name of your first school?">What is the name of your
                                        first
                                        school?</option>
                                    <option value="What is your favourite movie?">What is your favourite movie?</option>
                                    <option value="What is your favourite book?">What is your favourite book?</option>
                                    <option value="What is your favourite food?">What is your favourite food?</option>
                                    <option value="What is your favourite color?">What is your favourite color?</option>
                                    <option value="What is your favourite song?">What is your favourite song?</option>
                                </select>
                                <div class="form-group">
                                    <label for="security-answer">Security Answer</label>
                                    <input type="input" class="form-control" placeholder="Security Answer"
                                        id="security-answer" name="security_answer" minlength="5" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="g-recaptcha" data-sitekey="{{ grec_sitekey }}" data-callback="enableSubmitButton"></div>
                <button type="button" class="btn btn-warning prev-step">Previous</button>
                <button type="button" id="submit-button" class="btn btn-success">Register</button>
            </div>
        </form>
        <p class="mt-4">Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
        <p class="mt-4">By registering, you agree to the
            <a href="{{ url_for('tos_prp') }}">Terms of Service and
                Privacy
                Policy</a>.
        </p>
    </div>

    <div class="centered-container container mt-5 page-step" id="loader-step" style="display: none;">
        <h1>Registering...</h1>
        <l-hatch size="90" stroke="3" speed="4" color="white"></l-hatch>
        <img src="/static/imgs/form_fill.svg" alt="Registering" style="width: 50%; height: 50%;">
    </div>

    <div class="container mt-5 page-step" id="page-step-2" style="display: none;">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Almost there!!</h2>
                        <p>Upload a picture of your college issued ID Card to verify your
                            identity and access all features of the website.</p>
                        <div class="row">
                            <div class="container">
                                <form id="verify-card" method="POST" enctype="multipart/form-data">
                                    <div class="form-group col-6">
                                        <label for="id-card">ID Card</label>
                                        <input type="file" class="form-control-file" id="id-card" name="id_card"
                                            accept="image/*" required>
                                        <span class="text-muted">Make sure the image is visible, and has proper
                                            lighting.</span>
                                        <button type="submit" class="btn btn-primary"
                                            style="margin: 5px;">Verify</button>
                                        <a type="button" class="btn btn-warning"
                                            href="{{ url_for('view_posts') }}">Skip</a>
                                    </div>
                                    <div class="form-group col-6">
                                        <l-dot-wave size="47" speed="1" color="white" class="loading-spinner"
                                            style="display: none;"></l-dot-wave>
                                    </div>
                                </form>
                                <div id="error-message" class="alert alert-danger" style="display: none;"></div>
                                <div id="verification-feedback"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="/static/imgs/search.svg" alt="searching id card" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            var currentStep = 1;
            var formSteps = $('.form-step');

            $('.next-step').click(function () {
                var inputs = formSteps.eq(currentStep - 1).find('input, select, textarea');
                var empty = false;
                inputs.each(function () {
                    if ($(this).val() === '') {
                        empty = true;
                    }
                });

                if (empty && currentStep !== 4) {
                    alert('Please fill in all the fields');
                    return;
                }

                formSteps.eq(currentStep - 1).removeClass('active');
                currentStep++;
                formSteps.eq(currentStep - 1).addClass('active');
            });

            $('.prev-step').click(function () {
                formSteps.eq(currentStep - 1).removeClass('active');
                currentStep--;
                formSteps.eq(currentStep - 1).addClass('active');
            });
        });

        function previewImage() {
            var selectedPfp = document.getElementById("default-pfp").value;
            var preview = document.getElementById("preview");

            list_of_pfps = {
                "default_male_1.jpg": "/static/imgs/default_male_1.jpg",
                "default_female_1.jpg": "/static/imgs/default_female_1.jpg",
                "default_male_2.jpg": "/static/imgs/default_male_2.jpg",
                "default_female_2.jpg": "/static/imgs/default_female_2.jpg"
            };


            preview.src = list_of_pfps[selectedPfp];
            preview.style.display = "block";
        }

        document.getElementById('submit-button').addEventListener('click', async (event) => {
            event.preventDefault();

            const full_name = document.getElementById('full_name').value;
            const username = document.getElementById('username').value;
            const country_code = document.getElementById('country_code').value;
            const phone_number = document.getElementById('phone_number').value;
            const roll_number = document.getElementById('collegeRollNumber').value;
            const password = document.getElementById('password').value;
            const profile_picture = document.getElementById('profile-pic').files[0];
            const college_name = document.getElementById('collegeName').value;
            const default_pfp = document.getElementById('default-pfp').value;
            const year_of_study = document.getElementById('year_of_study').value;
            const security_question = document.getElementById('security-question').value;
            const security_answer = document.getElementById('security-answer').value;
            const email = document.getElementById('email').value;
            const gender = document.getElementById('gender').value;

            const loaderStep = document.getElementById('loader-step');
            const step1 = document.getElementById('step-1');
            const step2 = document.getElementById('step-2');
            const pageStep1 = document.getElementById('page-step-1');
            const pageStep2 = document.getElementById('page-step-2');

            loaderStep.style.display = 'block';
            step1.style.display = 'none';
            step2.style.display = 'none';
            pageStep1.style.display = 'none';
            pageStep2.style.display = 'none';

            fetch('/create_user', {
                method: 'POST',
                body: JSON.stringify({
                    full_name,
                    username,
                    country_code,
                    phone_number,
                    roll_number,
                    password,
                    college_name,
                    default_pfp,
                    year_of_study,
                    security_question,
                    security_answer,
                    email,
                    gender
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => response.json())
                .then(data => {
                    if (data.success) {
                        setTimeout(() => {
                            loaderStep.style.display = 'none';
                            pageStep1.style.display = 'none';
                            pageStep2.style.display = 'block';
                        }, 3000);
                    } else if (data.is_exists) {
                        alert('User already exists');
                    } else {
                        alert('An error occurred. Please try again later.');
                    }
                });
        });

        document.getElementById('verify-card').addEventListener('submit', function (e) {
            e.preventDefault();

            const errorMessageDiv = document.getElementById('error-message');
            const verificationFeedback = document.getElementById('verification-feedback');
            const loadingSpinner = document.querySelector('.loading-spinner');
            var form_data = new FormData();

            form_data.append('id_card', document.getElementById('id-card').files[0]);
            verificationFeedback.innerText = 'Verifying ID Card...';
            loadingSpinner.style.display = 'inline-block';

            fetch('/verify_id_card', {
                method: 'POST',
                body: form_data
            }).then(response => response.json())
                .then(data => {
                    loadingSpinner.style.display = 'none';
                    if (data.error) {
                        errorMessageDiv.style.display = 'block';
                        errorMessageDiv.innerText = data.error;
                        verificationFeedback.innerText = '';
                    } else {
                        if (data.verified) {
                            verificationFeedback.innerText = 'ID Card verified successfully';
                            errorMessageDiv.style.display = 'none';
                            alert('ID Card verified successfully. You can now access all features.');
                            window.location.href = "{{ url_for('view_posts') }}";
                        } else {
                            errorMessageDiv.style.display = 'block';
                            errorMessageDiv.innerText = 'ID Card verification failed. Please ensure you are using your own ID Card.';
                            verificationFeedback.innerText = '';
                        }
                    }
                });
        });

        function enableSubmitButton() {
            var submitButton = document.getElementById("submit-button");
            submitButton.disabled = false;
        }

        document.addEventListener('DOMContentLoaded', () => {
            const usernameInput = document.getElementById('username');
            const usernameFeedback = document.getElementById('username-feedback');
            const usernameCheckLoader = document.getElementById('username-check-loader');
            const passwordInput = document.getElementById('password');
            const confirmPasswordInput = document.getElementById('confirmPassword');
            const passwordFeedback = document.getElementById('password-feedback');
            const phoneInput = document.getElementById('phone_number');
            const phoneFeedback = document.getElementById('phone-feedback');
            const countryCode = document.getElementById('country_code');

            phoneInput.addEventListener('input', () => {
                const phoneNumber = phoneInput.value.trim();
                const countryCodeValue = countryCode.value.trim();
                var check = countryCodeValue + phoneNumber;
                if (phoneNumber.length > 0) {
                    if (phoneNumber.length !== 10) {
                        phoneFeedback.innerHTML = 'Phone number must be 10 digits long.';
                    } else if (!/^\d+$/.test(phoneNumber)) {
                        phoneFeedback.innerHTML = 'Phone number must only contain digits.';
                    } else {
                        fetch('/check_item',
                            {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({ 'check_item': check, 'item': 'phone' })
                            }).then(response => response.json())
                            .then(data => {
                                if (data.available) {
                                    phoneFeedback.innerHTML = 'Phone number is available.';
                                } else {
                                    phoneFeedback.innerHTML = 'Phone number is taken.';
                                    phoneInput.classList.add('is-invalid');
                                }
                            });
                    }
                } else {
                    phoneFeedback.innerHTML = '';
                }
            });

            usernameInput.addEventListener('input', async () => {
                usernameFeedback.innerHTML = '';
                usernameCheckLoader.style.display = 'block';
                const username = usernameInput.value.trim();
                if (username.length > 0) {
                    if (!/^[a-zA-Z0-9_]+$/.test(username)) {
                        usernameCheckLoader.style.display = 'none';
                        usernameFeedback.innerHTML = 'Username should only consist of letters, numbers, and underscores';
                        usernameInput.classList.add('is-invalid');
                    } else {
                        usernameInput.classList.remove('is-invalid');
                        fetch('/check_item',
                            {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({ 'check_item': username, 'item': 'username' })
                            }).then(response => response.json())
                            .then(data => {
                                if (data.available) {
                                    usernameFeedback.innerHTML = 'Username is available.';
                                    usernameCheckLoader.style.display = 'none';
                                    usernameInput.classList.add('is-valid');
                                } else {
                                    usernameFeedback.innerHTML = 'Username is taken.';
                                    usernameCheckLoader.style.display = 'none';
                                    usernameInput.classList.add('is-invalid');
                                }
                            });
                    }
                } else {
                    usernameCheckLoader.style.display = 'none';
                    usernameFeedback.innerHTML = '';
                    usernameInput.classList.remove('is-invalid');
                }
            });

            passwordInput.addEventListener('input', () => {
                const password = passwordInput.value;
                const confirmPassword = confirmPasswordInput.value;
                if (password.length > 0) {
                    if (password.length < 8) {
                        passwordFeedback.innerHTML = 'Password must be at least 8 characters long.';
                    } else if (!password.match(/[A-Z]/)) {
                        passwordFeedback.innerHTML = 'Password must contain at least one uppercase letter.';
                    } else if (!password.match(/[a-z]/)) {
                        passwordFeedback.innerHTML = 'Password must contain at least one lowercase letter.';
                    } else if (!password.match(/[0-9]/)) {
                        passwordFeedback.innerHTML = 'Password must contain at least one number.';
                    } else if (!password.match(/[^A-Za-z0-9]/)) {
                        passwordFeedback.innerHTML = 'Password must contain at least one special character.';
                    } else {
                        passwordFeedback.innerHTML = '';
                    }
                } else {
                    passwordFeedback.innerHTML = '';
                }
            });

            confirmPasswordInput.addEventListener('input', () => {
                const password = passwordInput.value;
                const confirmPassword = confirmPasswordInput.value;
                if (confirmPassword.length > 0) {
                    if (password !== confirmPassword) {
                        passwordFeedback.innerHTML = 'Passwords do not match.';
                    } else {
                        passwordFeedback.innerHTML = '';
                    }
                } else {
                    passwordFeedback.innerHTML = '';
                }
            });
        });

        function ToggleVisibility(fieldname, togglePassword) {
            var password = document.getElementById(fieldname);
            var togglePasswordIcon = document.getElementById(togglePassword);

            if (password.type === "password") {
                password.type = "text";
                togglePasswordIcon.innerHTML = '<i class="fas fa-eye-slash"></i>';
            } else {
                password.type = "password";
                togglePasswordIcon.innerHTML = '<i class="fas fa-eye"></i>';
            }
        }
    </script>
</body>

</html>