<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Verify ID</title>
    <script src="https://kit.fontawesome.com/5849743ccd.js" crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">HiveMind</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <div class="profile-picture-div-navbar"> <img src="{{ profile_picture_url }}"
                                alt="Profile Picture" class="nav-profile-picture rounded-circle"
                                style="width: 40px; height: 40px;">
                        </div>
                    </li>

                    <li class="nav-item nav-username">
                        <a class="nav-username" href="/view_profile/{{ session.id }}">{{ session.name }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('materials') }}">Study Materials</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('view_profile', username=session.id) }}">View
                                Profile</a>
                            <a class="dropdown-item" href="{{ url_for('update_profile') }}">Account Settings</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hives
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('hives') }}">View Hives</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>Verify ID</h1>
                <form id="verify-card" method="POST" enctype="multipart/form-data">
                    <input type="file" class="form-control-file" id="id-card" name="id_card" accept="image/*" required>
                    <button type="submit" class="btn btn-primary" style="margin: 5px;">Verify</button>
                </form>
                <div id="error-message" class="alert alert-danger" style="display: none;"></div>
                <div id="verification-feedback"></div>
            </div>
        </div>
    </div>
</body>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

<script>
    document.getElementById('verify-card').addEventListener('submit', function (e) {
        e.preventDefault();

        const errorMessageDiv = document.getElementById('error-message');
        const verificationFeedback = document.getElementById('verification-feedback');
        var form_data = new FormData();

        form_data.append('id_card', document.getElementById('id-card').files[0]);
        verificationFeedback.innerText = 'Verifying ID Card...';

        fetch('/verify_id_card', {
            method: 'POST',
            body: form_data
        }).then(response => response.json())
            .then(data => {
                if (data.verified) {
                    alert('ID Card verified successfully');
                    window.location.href = '{{ url_for("index") }}';
                } else {
                    errorMessageDiv.innerText = data.message;
                    errorMessageDiv.style.display = 'block';
                }
            });
    });
</script>

</html>